<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>書籍削除確認</title>
</head>
<body>
    <h1>削除確認</h1>
    <p>以下の書籍を削除します。よろしいですか？</p>
    <table　border="1">
	<tr>
		<th>タイトル</th>
		<th>著者</th>
		<th>ISBN</th>
	</tr>
	
        <tr th:each="book : ${books}">
    <td th:text="${book.title}"></td>
    <td th:text="${book.author}"></td>
    <td th:text="${book.isbn}"></td>
　　　　</tr>

        
    </table>
   <form th:action="@{'/delete/' + ${book.id}}" method="post">
    <td colspan="2" align="center">
        <button type="submit">削除</button>
    </td>
</form>

</body>
</html>
